:root {
  --font-color: white;
  --background-color: rgba(86, 110, 187, 0.1);
  --nav-color: #5e8aa8;
  --main-color: #326EBE;
  --highlight-color:#F27627;

  --primary-font: "Lato", sans-serif;
  --title-font: "Lato", sans-serif;
  --random-height: 300px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column;


  background-color: var(--background-color);
  font-family: var(--primary-font);
}

h1 {
  margin: 0;
  font-size: 3em;
  color: white;
  font-weight: 400;
}

h2 {
  color: var(--main-color);
  margin: 0.5em;
  font-weight: 400;
}

h1 > span {
  font-size: 2em;
  color: var(--highlight-color);
}

h1 > .queue-text {
  margin: 0;
  font-size: 1em;
  color: var(--main-color);

}

p {
  color: var(--main-color);
}

/* setting the order for everything */ 

#queue {
  overflow: hidden;
  order: 1;
}

#serving {
  overflow: hidden;
  order:2;
}

#hours {
  order: 3;
}

#bartenders {
  order: 4;
}

#storage {
  order: 5;
}

#ontap {
  order: 6;
}

/* styling for the navigation bar */

nav {
  position: relative;
  color: var(--main-color);
  font-family: var(--title-font);
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

nav > ul > li {
  padding: 0.5em 0.75em;
  margin: 10px;
  font-size: 1.3em;
  display: flex;
  flex-flow: row;
  align-items: center;
}

nav > ul > li:hover {
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--main-color);
  color: white; 
  border-radius: 40px;
}

nav > ul > img {
  max-height: 40px;
  align-self: center;
  grid-column: -1;
}

nav > ul > img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  #dashboard-nav > ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    
    }

}

@media screen and (min-width: 300px) and (max-width: 599px) {
  #dashboard-nav > ul {
    display: flex;
    }

  .settings-button {
    padding: 0 2em;
  }
}


/* media queries for layout */

@media only screen and (min-width: 1200px) {
.columns {
  columns: 3;
}}

@media only screen and (max-width: 1199px) {
  .columns {
    columns: 2;
  }}

  @media only screen and (min-width: 100px) and (max-width: 700px) {
    .columns {
      columns: 1;
    }}


    .grid-dashboard {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      grid-auto-flow: row dense;
    }


    @media only screen and (min-width) {
      .grid-dashboard {
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
        grid-auto-flow: row dense;
      }
    }
/* styling for the section */

section {
  display: flex;
  flex-flow: row wrap;
}

.pinned {
  color: var(--main-color);
  position: absolute;
  margin: 0;
  top: 8px;
  left: 8px;
  font-size: 0.7em;
}

article {
  position: relative;
  flex: 1 1 auto;
  padding: 1em;
  margin: 10px;
  background-color: var(--font-color);
  border-left: solid 5px transparent;
  border-radius: 10px;
  cursor: pointer;

  -webkit-box-shadow: 4px 5px 9px -3px #0000001a;
  box-shadow: 4px 5px 9px -3px #0000001a;

  display: flex;
  flex-flow: column;

  page-break-inside: avoid-column;
  break-inside: avoid-column;
}

article:hover {
  box-sizing: content-box;
  border-left: solid 5px var(--main-color);
  border-radius: 0px 10px 10px 0px;
  transform: scale(1.01);
  -webkit-box-shadow: 9px 10px 18px -7px #000000;
  box-shadow: 9px 10px 18px -7px #000000;
}

.centered {
  max-width: 50vw;
  margin-left: 25vw;
}
/* HERE IS THE COOL SHIT */

article:nth-child(2),
article:nth-child(3),
article:nth-child(6) {
  background-color: var(--font-color);
}

/* specific articles */
/* specific articles */
/* specific articles */

/*queue */

#queue,
#serving {
  text-align: center;
  align-content: center;
  justify-content: center;
}

#storage, #ontap {
  grid-column: auto / span 2;
}

@media only screen and (min-width: 100px) and (max-width: 800px){
  #storage, #ontap {
    grid-column: auto;
  }
}
/* hours*/
#hours {
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
}

#hour-display {
  color: var(--main-color);
}

#hour-display > .hour, #hour-display > .minutes {
  color: var(--highlight-color);

}

.time-span {
  color: var(--main-color);
  font-size: 1em;
}

.hour-display + p {
  margin: 0;
}

/*bartenders*/

#bartenders {
  justify-content: center;
}

.wrapper-bartenders {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.portrait > img {
  border-radius: 100%;
  grid-column: 1;
  grid-row: 1;
}

.portrait {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  margin: 0.5em;
}

.portrait > .status {
  grid-column: 1;
  grid-row: 1;

  height: 30px;
  width: 30px;
  background-color: #B13A16;
  border-radius: 100%;
  align-self: flex-end;
  justify-self: flex-end;
  position: relative;
  left: -15%;
}

.portrait > .free {
  background-color: green;
}

/*storage*/

#storage {
  flex: 2 1 40%;
}
.wrapper-storage {
  display: grid;
  grid:
    auto-flow minmax(80px, auto) /
    repeat(auto-fit, minmax(clamp(33.3333% - 1rem, 275px, 100%), 1fr));
  padding-top: 2em;
}

.stored-keg h2 {
  display: flex;
  align-items: baseline;

}

.kegs {
  padding-left: 2em;
  display: flex;
  flex-flow: row wrap;
}

.stored-keg > .hidden {
  display: none;
}

h2 .hidden {
  display: none;
}

.keg-amount {
  color: #7198CA;
  font-size: 2em;
  font-weight: 700;

  margin-left: auto;
  padding-right: 1em;
}

.kegs > img {
  height: 30px;
  margin: 0.5em 0.5em;
}

/*taps*/

#ontap {
  flex: 1 1 350px;
}

.wrapper-taps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: space-between;
  padding: 0.5em;
  grid-gap: 15px;
}

.beer-name {
  justify-self: center;
  margin: 0.5em 0;
}

.tap-levelbar-container {
  border: solid 4px var(--main-color);
  height: 100%;
  width: 20px;

  display: flex;
  flex-flow: column-reverse;
}

.tap-levelbar-fill {
  background-color: var(--highlight-color);
  position: relative;
  width: 100%;
}

.flex {
  display: flex;
  flex-flow: column;
}
.individual-tap,
.tap-wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: space-around;
  text-align: center;
}

.beer-tap-svg {
  grid-column: 1;
  grid-row: 1;
  max-height: 130px;
  justify-self: center;
  margin-right: 10px;
}

.bar-tap {
  grid-column: 1;
  grid-row: 1;
  margin-left: 110px;
}

/* working on expanded components */

.expanding {
  animation: growBigger .5s ease-in-out forwards;
}

@keyframes growBigger {
  0% {height: 0;
  opacity: 0;}
  99% {height: var(--random-height)}
  100% {height: auto}
};


/* queue */

.client-extanded {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}

.individual-client {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.5em;
}

.order-queue > h3 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: var(--main-color);
}

.order-queue > h3 > span{
  font-size: 1.3em;
  margin-bottom: 0.5em;
  color: var(--highlight-color);
}

.order-queue {
  position: relative;
  left: -5%;
}

.order-queue > ul {
  margin-top: 0;
  text-align: left;
  font-size: 0.8em;

}

.order-queue > ul > li {
  padding: 0;
  margin: 0;
}


.client-logo {
  grid-row: auto / span 2;
  max-height: 150px;
  height: 100%;
  justify-self: center;
}

/* bartenders extanded*/

.activity > h3 {
  color: var(--main-color);
  margin: 0.5em;
}

.activity > h3 > span {
  color: var(--highlight-color);
}

/* taps extanded*/

.flex {
  justify-content: space-between;
}

.visibility-collapsed {
  visibility: collapse;
}

.extanded-tap {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  align-items: center;
}

.units {
  grid-row: 1;
}
.extanded-tap > h3 {
  margin: 0;
  color: var(--main-color);
  font-weight: 400;
}

.extanded-tap > h3 > span {
  color: var(--highlight-color);
  font-weight: 700;
  font-size: 1.2em;
}

.button-circle {
  height: 50px;
  width: 50px;
  border: solid 1px white;
  border-radius: 100%;
  margin: 1em;

  grid-row: 3;
  justify-self: center;
  display: grid;
}


/* update timer */

.update-timer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5px;
  opacity: 0.7;
}

.update-timer-fill {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
}

.fill-anim {
  animation: load 5s linear;
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}


/* working on the settings */ 

#settings-nav {
  margin-top: 1em;
}
#settings {
  min-width: 30vw;
  flex-flow: column wrap;
  padding-top: 1em;
}

#settings > article > h1 {
  color: var(--main-color);
}

#settings > article {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  border: solid var(--highlight-color);
  border-width: 0 2px 2px 0;
  height: 15px;
  width: 15px;
}

.arrow-back {
  border: solid var(--main-color);
  border-width: 0 2px 2px 0;
  height: 20px;
  width: 20px;

  transform: rotate(140deg);
  position: absolute;
  top: 10px;
  left: 30px;

}

.arrow-back:hover {
  cursor: pointer;
  transform: rotate(140deg) scale(1.2);
}

.right {
  transform: rotate(-45deg);
}

#layout-section, #theme-section, #login-section {
  flex-flow: column wrap;
}

/* layout settings */ 

.first-layout-settings {
  display: flex;
  flex-flow: column;
}

@media only screen and (max-width: 800px) {

  .first-layout-settings, .form-order, .form-visible {
    width: 100vw;
  }
}

.form-color {
  padding: 2em;
}

.example-layout {
  height: 100%;
  width: 50%;
  margin: 2em;
  align-self: center;
}

.wrapper-settings {
  display: grid;
  grid-template-rows: repeat(3, auto);
  margin-top: 20px;
}

.wrapper-settings > h1 {
  color: var(--main-color);
  border: solid var(--main-color);
  border-width: 0 0 1px 0; 
  font-weight: 300;
  padding-left: 0.5em;
}

.form-for-order, .form-for-showing {
  display: grid;
  justify-content: space-around;

  grid-template-columns: repeat(2, 190px);
  grid-gap: 20px;
  margin: 30px 0px;
}

@media only screen and (max-width: 600px) {
  .form-for-order, .form-for-showing {
    display: grid;
    justify-content: space-around;
  
    grid-template-columns: repeat(1, 190px);
    grid-gap: 20px;
    margin: 30px 0;
  }
}

.form-for-showing > label:hover {
  cursor: pointer;
}

label {
  padding: 0.5em;
  color: var(--main-color);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

label > select {
  margin-left: 2em;
  color: var(--highlight-color);
  max-width: 40px;
  width: 40px;
  max-height: 20px;
  border: none;
  background-color: white;
}

.form-layout {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.form-layout > label > select {
  max-width: 200px;
  width: fit-content;
}

select:hover {
  cursor: pointer;
}

.wrapper-buttons-form {
  justify-self: center;
  margin-bottom: 30px;
  text-align: center;
}

#reset, #reset-colors {
  border: none;
  padding-right: 1em;
  cursor: pointer;
  color:grey;
  background-color: transparent;
}

#save-changes, #save-colors {

  border: solid 1px var(--highlight-color);
  border-radius: 5px;
  color: var(--highlight-color);
  background-color: transparent;
  font-size: 1.8em;
  font-family: "Lato", sans-serif;

  width: fit-content;
  margin-top: 2em;
  margin-right: 2em;
}

.color-settings {
  display: flex;
  flex-flow: column;
}

#save-changes:hover, #save-colors:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--highlight-color);
  color: white;
}

@media only screen and (min-width: 800px) {

  .wrapper-settings {
    margin: 10px 20vw; 
  } 

  .wrapper-settings > h1 {
    padding-left: 0px;
  }

  label {
    align-items: center;
    font-size: 1.3em;

  }

  label > select {
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 30px;
    text-align: center;
  }

  #settings {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

/* media queries at the bottom */


@media only screen and (max-width: 1295px) {
  body {
    flex-flow: column;
  }


  .ver {
    position: relative;
    height: 100%;
  }

  h1 {
    font-size: 2em;
  }

  #hours > .hour-display {
    font-size: 2em;
  }
}

@media only screen and (max-width: 350px) {
  .client-logo {
    grid-row: auto / span 2;
    max-height: 100px;
    height: 100%;
    justify-self: center;
  }}

  @media only screen and (max-width: 500px) {
    .centered {
      max-width: 100vw;
      margin-left: auto;
    }
  }

/* general styling for javascript */

.active {
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--main-color);
  color: white; 
  border-radius: 40px;
}

.hidden {
  display: none;
}

.showing {
  display: flex;
}

/* animation for extension */
/* NEEDS TO BE AT THE END - DON'T MOVE */

.collapsed {
  display: none;
} 

.sosmol {
  animation: growSmaller .5s ease-in-out forwards;
}

@keyframes growSmaller {
  from {
    height: var(--random-height);
  }
  to {
    height: 5px;
    opacity: 0;
}};